---
title: "but she's a girl..."
---


- oldest_item = nil
- current_index = 0

- sorted_articles[current_index, featured_count].each do |item|
  - oldest_item = item
  - current_index += 1
  .featured
    = render('_article', :item => item, :is_embedded => true)

- sorted_articles[current_index, excerpt_count].each do |item|
  - oldest_item = item
  = render('_excerpt', :item => item)

%hr.links

= render('_pinboard_links')
.clear

